{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Share PawfectMatch</h2>
  <p>Spread the word on social media and help more pets find loving homes.</p>
  <p>
    <a class="btn btn-primary me-2" href="https://twitter.com/intent/tweet?text=Check+out+PawfectMatch!">Share on Twitter</a>
    <a class="btn btn-success me-2" href="https://www.facebook.com/sharer/sharer.php?u=https://pawfectmatch.herokuapp.com">Share on Facebook</a>
    <a class="btn btn-secondary" href="mailto:?subject=Support%20PawfectMatch&body=Check%20out%20this%20amazing%20pet%20support%20site!">Share via Email</a>
  </p>
</div>
{% endblock %}
