{% extends "core/base.html" %}
{% load static %}

{% block title %}Services | PawfectMatch{% endblock %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4">Pet Services</h1>
    <p class="lead">Browse our available services for your furry friends</p>
</div>

<hr>

<div class="container">
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                {% if service.image %}
                    <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
                {% else %}
                    <img src="{% static 'images/default_service.jpg' %}" class="card-img-top" alt="Default service">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ service.title }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
